{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>LISTA DE PROFESORES</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_10.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

        <div class="contenedor">
        <div class="encabezado">
            <div class="titulos">
            <h1>Ver Lista de Profesores (Administrador)</h1>
            </div>

            <div class="logo">
            <img src="{% static 'app/img/Logo.png' %}" />
            </div>
        </div>

        <div class="tabla">
            <table>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                {% for lista in profesores %}
                <tr>
                    <td>{{ lista.user.last_name }}</td>
                    <td>{{ lista.user.first_name }}</td>
                    <td>{{ lista.user.email }}</td>
                    <td>
                        <a href="{% url 'app:Verprofesoradmi' lista.id %}" ><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pie">
            <a href="{% url 'app:Vista_administrador' %}">
            <button class="btnVolver">Volver</button>
            </a>
            <div class="agregar_profesor">
            <a href="{% url 'app:form_crearprofesor' %}"><i class="fas fa-plus">Crear Profesor</i></a>
            </div>      
        </div>
    </div>
  </body>
</html>
