{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>VER PROFESOR</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilos_11.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
        <div class="contenedor">
            <div class="encabezado">
                <div class="titulos">
                    <h1>Ver Profesor (Administrador)</h1>
                </div>

                <div class="logo">
                <img src="{% static 'app/img/Logo.png' %}" />
                </div>
            </div>

            <div class="ID">
              <h1>Profesor: {{profesor.user.last_name}} {{profesor.user.first_name}}</h1> </h1>
              <h2>Email: {{profesor.user.email}}</h2>
            </div>

            <div class="tabla">
              <table>
                  <tr>
                    <th>Semestre</th>
                    <th>Código</th>
                    <th>Asignatura</th>
                    <th>Cantidad de Estudiantes</th>
                  </tr>
                  {%for listamaterias in grupo.all %}
                  <tr>
                    <td>{{listamaterias.semestre}}</td>
                    <td>{{listamaterias.codigo}}</td>
                    <td>{{listamaterias.asignatura}}</td>
                    <td>{{listamaterias.estudiantesgrupo.all|length}}</td>
                  </tr>
                  {% endfor %}
              </table>
            </div>

            <div class="footer">
              <a href="{% url 'app:verlistadeprofes' %}">
                <button class="btnVolver">Volver</button>
              </a>   
            </div>
        </div>
    </body>
</html>
