{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>CREAR ESTUDIANTE</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_12.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">

      <div class="encabezado">
        <div class="titulos">
          <h1>Crear Estudiante(Administrador)</h1>
        </div>

        <div class="logo">
          <img class="logo" src="{% static 'app/img/Logo.png' %}">
        </div>
      </div>
      
      <div class="campos">
          <table> 
            <tr>
              <th>Crear Estudiante</th>
            </tr>

            <tr>
              
              <td>
                <form action = "{% url 'app:Crear_estudiante_admin' %}" method="POST">  
                  {% csrf_token %}
                  <label class="apellidos">Apellidos*</label>        
                  <input type="text" name="apellido" id="apellido">
                  <br>
                  <label class="nombres">Nombres*</label>
                  <input required id="nombres" name="nombres">
                  <br>
                  <label class="nombres">Usuario*</label>
                  <input required id="nombres" name="usuario">
                  <br>            
                  <label class="email">Correo Electrónico*</label>
                  <input required id="email" type="text" name="email">
                  <br>              
                  <label class="codigo">Código*</label>
                  <input required id="codigo" type="text" name="codigo">
                  <br>              
                  <label class="contraseña">Contraseña*</label>
                  <input required id="catedra" type="password" name="password">
                  <br>
                  <button class="crear">Crear</button>   
                  <br>
                  {% if error %}
                  <span class="error">{{error}}</span>
                  {% endif %}         
                </form>
              </td>
            </tr>

          </table>  
      </div>

    </div>
  </body>
</html>