{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>LISTA DE ESTUDIANTES</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_13.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">
      <div class="encabezado">
        <div class="titulos">
          <h1>Lista de Estudiantes(Admin)</h1>
        </div>
        <div class="logo">
          <img class="logo" src="{% static 'app/img/Logo.png' %}">
        </div>
      </div>

      <div class="tabla">
        <table>
           
          <tr>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Email</th>
            <th></th>
          </tr>
          {% for estudiante in estudiantes %}
          <tr>
            <td>{{ estudiante.user.last_name }}</td>
            <td>{{ estudiante.user.first_name }}</td>
            <td>{{ estudiante.user.email }}</td>
            <td>
              <a href="{% url 'app:form_editar_Estudiante' estudiante.user.first_name %}"><i class="fas fa-pen"></i></a>
            </td>
          </tr>
          {% endfor %}
          
        </table>
      </div>
      <div class="pie">
        <div class="Agregar">
            <a href="{% url 'app:form_crear_estudiante' %}" target="_blank"><i class="fas fa-plus">Agregar Estudiante</i></a>
        </div>
        <a href="{% url 'app:Vista_administrador' %}">
          <button class="btnVolver">Volver</button>
        </a>
      </div>
    </div>
  </body>
</html>
