{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>EDITAR ESTUDIANTE</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_14.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">
      <div class="encabezado">
        <div class="titulos">
          <h1>Editar Estudiante (Administrador)</h1>
        </div>

        <div class="logo">
          <img class="logo" src="{% static 'app/img/Logo.png' %}">
        </div>
      </div>

      <div class="campos">
        <table> 
            <tr>
                <th>Editar Estudiante {{ estudiante.estudiante.codigo }}</th>
            </tr>

            <tr>
            <td>
                <form action="{% url 'app:Editar_Estudiante' estudiante.id %}" method="POST">   
                  {% csrf_token %}
                  <label class="codigo">Código  &nbsp</label>                  
                  <input required id="codigo" type="text" name="codigo" value={{estudiante.estudiante.codigo}}>*</input> 
                  <br>
                  <label class="Apellidos">Apellidos</label>
                  <input required id="Apellidos" type="text" name="apellidos" value={{estudiante.last_name}}>*</input>  
                  <br>            
                  <label class="Nombre">Nombre</label>
                  <input required id="Nombre" type="text" name="nombre" value={{estudiante.first_name}}>*</input>  
                  <br>   
                  <label class="username">Usuario</label>
                  <input required id="username" type="text" name="username" value={{estudiante.username}}>*</input>  
                  <br>            
                  <label class="Email">Email</label>
                  <input required id="Email" type="text" name="email" value={{estudiante.email}}>*</input>  
                  <br>
                  <br>
                  <button class="guardar">Guardar</button>   
                  <br>
                  {% if error %}
                  <span class="error">{{error}}</span>
                  {% endif %}                  
                </form>
            </td>
            </tr>

        </table>
    </div>

    </div>
  </body>
</html>
