{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>VER ACTIVIDAD</title>
</head>

<head>
  <link rel="stylesheet" href="{% static 'app/css/estilo_17.1.css' %}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
    rel="stylesheet" />
  <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel="hoja de estilo " />
  <!-- Iconos -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Fuente changa -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="contenedor">
    <div class="encabezado">
      <div class="titulos">
        <h1>Ver Actividad (Profesor)</h1>
      </div>

      <div class="logo">
        <img src="{% static 'app/img/Logo.png' %}" />
      </div>
    </div>

    <div class="tabla">
      <table>
        <tr>
          <th colspan="3">VER ACTIVIDAD</th>
        </tr>
        <tr>
          <th colspan="3">GRUPO {{ grupo }}</th>
        </tr>
        <tr>
          <td> <b>Codigo</b> </td>
          <td> <b>Asignatura</b> </td>
          <td> <b>Semestre</b> </td>
        </tr>

        <tr>
          <td>{{actividad.grupo.codigo}}</td>
          <td>{{actividad.grupo.asignatura}}</td>
          <td>{{actividad.grupo.semestre}}</td>
        </tr>


      </table>
      <br>
      <table>
        <tr>
          <th colspan="4">LISTA DE ESTUDIANTES</th>
        </tr>
        <tr>
          <td> <b>Apellidos</b> </td>
          <td> <b>Nombres</b> </td>
          <td> <b>Nota</b> </td>
          <td></td>
        </tr>
        {% for estudiantes in actividad.notasactividad.all %}
        <tr>
          <td>{{estudiantes.estudiante_grupo.estudiante.user.last_name}}</td>
          <td>{{estudiantes.estudiante_grupo.estudiante.user.first_name}}</td>
          <td>{{estudiantes.valor}}</td>
          <td><a href="{% url 'app:Calificar_actividad_form' estudiantes.id %}"><i class="fas fa-check"></i></a></td>
        </tr>
        {% endfor %}

      </table>
    </div>

    <div class="btnVolver">
      <a href="{% url 'app:Ver_grupo_profesor' actividad.grupo.codigo %}"> <button>Volver</button> </a>
    </div>

    </div>

  </div>
</body>

</html>