{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>CALIFICAR ACTIVIDAD</title>
</head>

<head>
  <link rel="stylesheet" href="{% static 'app/css/estilo_16.css' %}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
    rel="stylesheet" />
  <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel="hoja de estilo " />
  <!-- Iconos -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Fuente changa -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="contenedor">
    <div class="encabezado">
      <div class="titulos">
        <h1>Calificar Actividad (Profesor)</h1>
      </div>

      <div class="logo">
        <img src="{% static 'app/img/Logo.png' %}" />
      </div>
    </div>

    <div class="formulario">
      <table border="1">
        <tr>
          <th>
            CALIFICAR ACTIVIDAD
          </th>
        </tr>
        <tr> 
          <td>
            <form action = "{% url 'app:Calificar_Actividad_Profesor' nota.id %}" method="POST">
              {% csrf_token %}
              <label>Ingrese la Calificación</label>
              <input required type="text" name="nota" value={{nota.valor}}>
              <br>
                         
              <a href=""><input class="boton2" type="submit" value="Aplicar" /></a>
            </form>
              
          </td>
        </tr>
      </table>
    </div>

</body>

</html>