{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>VER GRUPO</title>
</head>

<head>
  <link rel="stylesheet" href="{% static 'app/css/estilo_20.1.css' %}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
    rel="stylesheet" />
  <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel="hoja de estilo " />
  <!-- Iconos -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Fuente changa -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="contenedor">
    <div class="encabezado">
      <div class="titulos">
        <h1>Ver Grupo (Profesor)</h1>
      </div>

      <div class="logo">
        <img src="{% static 'app/img/Logo.png' %}" />
      </div>
    </div>

    <div class="tabla">
      <table>
        <tr>
          <th colspan="3">VER GRUPO</th>
        </tr>
        <tr>
          <td> <b>Codigo</b> </td>
          <td> <b>Asignatura</b> </td>
          <td> <b>Profesor</b> </td>
        </tr>
        
        <tr>
          <td>{{grupo.codigo}}</td>
          <td>{{grupo.asignatura}}</td>
          <td>{{grupo.profesor.user.first_name }} {{ grupo.profesor.user.last_name }}</td>
        </tr>
        
      </table>
      <br>
      <table>
        <tr>
          <th colspan="4">LISTA DE ESTUDIANTES</th>
        </tr>
        <tr>
          <td> <b>Apellidos</b> </td>
          <td> <b>Nombres</b> </td>
          <td> <b>Email</b> </td>
          <td></td>
        </tr>
        {% for estudiante in grupo.estudiantesgrupo.all %}
        <tr>
          <td>{{estudiante.estudiante.user.last_name}}</td>
          <td>{{estudiante.estudiante.user.first_name}}</td>
          <td>{{estudiante.estudiante.user.email}}</td>
          <td><a href="{% url 'app:Ver_Estudiante_profesor' estudiante.id %}" ><i class="fas fa-eye"></i></a></td>
        </tr>
        {% endfor %}

      </table>
      <br>
      <table>
        <tr>
          <th colspan="5">LISTA DE ACTIVIDADES</th>
        </tr>
        <tr>
        </tr>
        {%for actividad in grupo.actividades.all %}
        <tr>
          <td>{{actividad.descripcion}}</td>
          <td><a href="{% url 'app:Ver_Actividad_Profesor' actividad.id %}" ><i class="fas fa-eye"></i></a></td>
          <td><a href="{% url 'app:Editar_actividad_form' actividad.descripcion %}" ><i class="fas fa-pen"></i></a></td>
        </tr>
        {% endfor %}
        
      </table>
    </div>

    <div class="pie">
      <a href="{% url 'app:Ver_lista_grupos' %}">
        <button class="btnVolver">Volver</button>
      </a>
      <div class="Crear_grupo">
        <a href="{% url 'app:Crear_actividad_form' grupo.codigo %}" ><i class="fas fa-plus">Crear Actividad</i></a>
      </div>
    </div>

  </div>
</body>

</html>