{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>VER ESTUDIANTE</title>
</head>

<head>
  <link rel="stylesheet" href="{% static 'app/css/estilo_21.1.css' %}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
    rel="stylesheet" />
  <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel="hoja de estilo " />
  <!-- Iconos -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Fuente changa -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="contenedor">
    <div class="encabezado">
      <div class="titulos">
        <h1>Ver Estudiante (Profesor)</h1>
      </div>

      <div class="logo">
        <img src="{% static 'app/img/Logo.png' %}" />
      </div>
    </div>

    <div class="tabla">
      <table>
        <tr>
          <th colspan="3">DATOS DEL ESTUDIANTE</th>
        </tr>
        <tr>
          <td> <b>Apellidos</b> </td>
          <td> <b>Nombres</b> </td>
          <td> <b>Correo Electronico</b> </td>
        </tr>
        
        <tr>
          <td>{{estudiantes.estudiante.user.last_name}}</td>
          <td>{{estudiantes.estudiante.user.first_name}}</td>
          <td>{{estudiantes.estudiante.user.email}}</td>
        </tr>
        
      </table>
      <br>
      <table>
        <tr>
          <th colspan="3">ACTIVIDADES</th>
        </tr>
        <tr>
          <td> <b>Actividad</b> </td>
          <td> <b>Nota</b> </td>
        </tr>
        
        {%for actividad in estudiantes.notasestudiante.all %}
        <tr>
          <td>{{actividad.actividad}}</td>
          <td>{{actividad.valor}}</td>   
        </tr>
        {% endfor %}
      </table>
    </div>
    
    <div class="pie">
      <a href="{% url 'app:Ver_grupo_profesor' estudiantes.grupo.codigo %}"> 
        <button class="btnVolver">Volver</button>
      </a>
          
    </div>

  </div>
</body>

</html>