{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>LISTA DE GRUPOS</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_22.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">
      <div class="encabezado">
        <div class="titulos">
          <h1>Ver Lista de Grupos (Estudiante)</h1>
        </div>

        <div class="logo">
          <img class="logo" src="{% static 'app/img/Logo.png' %}">
        </div>
      </div>

      <div class="tabla">
        <table width="70%" >
          <tr>
            <th>Semestre</th>
            <th>ID del grupo</th>
            <th>Asignatura</th>
            <th></th>
          </tr>
          {% for grupo in grupos %}
          <tr>
            <td>{{ grupo.grupo.semestre }} </td>
            <td>{{ grupo.grupo.codigo }}</td>
            <td>{{ grupo.grupo.asignatura }}</td>
            <td>
              <a href="{% url 'app:Ver_Grupo_Estudiante' grupo.id %}" ><i class="fas fa-eye"></i></a>
            </td>
          </tr>
          {% endfor %} 
        </table>
      </div>

      <div class="pie">
        <div class="btnVolver">
          <a href="{% url 'app:vista_estudiante' %}">
            <input type="button" value="Volver">
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
