{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>VER GRUPO</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_23.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">
        <div class="encabezado">
            <div class="titulos">
                <h1>Ver Grupo (Estudiante)</h1>
            </div>
            <div class="logo">
              <img class="logo" src="{% static 'app/img/Logo.png' %}">
            </div>
        </div>
        
        <div class="ID">
          <h1>Grupo {{ estudiantegrupo.grupo.codigo }}</h1>
        </div>

        <div class="info">
          <table width = 80%>
            <tr>
              <th>Semestre</th>
              <th>Asignatura</th>
              <th>Profesor</th>
          </tr>
          <tr>
            <td>{{ estudiantegrupo.grupo.semestre }}</td>
            <td>{{ estudiantegrupo.grupo.asignatura }}</td>
            <td>{{ estudiantegrupo.grupo.profesor }}</td>
          </tr>
          </table>
          
        </div>
        <div class="tabla">
          <table>
              <tr>
                <th>Descripción</th>
                <th>Nota</th>
              </tr>
              {% for nota in estudiantegrupo.notasestudiante.all  %}
              <tr>
                <td>{{ nota.actividad.descripcion }}</td>
                <td>{{ nota.valor }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>


        <div class="footer">
          <a href="{% url 'app:Ver_Lista_de_Grupos_Estudiante' %}">
            <button class="btnVolver">Volver</button>
          </a>
          </a>      
        </div>
    </div>
    </body>
</html>
