<!DOCTYPE html>
<html lang="es">
  <head>
    <title>CREAR GRUPOS</title>
  </head>
  <head>
    <link rel="stylesheet" href="css/estilo_3.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">

      <div class="encabezado">
        <div class="titulos">
          <h1>Crear Grupos (Administrador)</h1>
        </div>

        <div class="logo">
          <img src="img/Logo.png" />
        </div>
      </div>
      
      <div class="campos">
          <table> 
            <tr>
              <th>Crear Grupo</th>
            </tr>

            <tr>
              <td>
                <form action="{% url 'app:agregar_grupo' %}" method="POST">  
                  {% csrf_token %}                
                  <label class="cod_grupo">Código del Grupo  &nbsp</label>                  
                  <input required id="cod_grupoi" name='codigo' maxlength="50px">*</input>  
                  <br>            
                  <label class="asignatura">Asignatura</label>
                  <input required id="asignaturai" name='asignatura' maxlength="50px">*</input>  
                  <br>            
                  <label class="semestre">Semestre</label>
                  <input required id="semestre" name='semestre' maxlength="50px">*</input>  
                  <br>              
                  <label class="profesor">Profesor</label>
                  
                  <select name='profesor'>
                    {% for profes in profesores.all %}
                    <option value="{{profes.user.id}}">{{profes.user.first_name}} {{profes.user.last_name}}</option>
                    {% endfor %}
                  </select>  
                  <br>
                  <br>
                  <a href="5_Ver_lista_Grupos_Admin.html"><button class="volver">Volver</button></a>
                  <button class="crear">Crear</button>         
                </form>
              </td>
            </tr>

          </table>
      </div>

    </div>
  </body>
</html>