{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>EDITAR GRUPO</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_4.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">
      <div class="encabezado">
        <div class="titulos">
          <h1>Editar Grupo (Administrador)</h1>
        </div>

        <div class="logo">
          <img src="{% static 'app/img/Logo.png' %}" >
        </div>
      </div>

      <div class="campos">
        <table> 
            <tr>
                <th>Editar grupo {{group.codigo}}</th>
            </tr>

            <tr>
            <td>
                <form action= "{% url 'app:Editargrupoadmi' group.codigo %}" method="POST">  

                  {% csrf_token %}   

                  <label class="cod_grupo">Código del Grupo  &nbsp</label>                  
                  <input type='text' name="codigo" value={{group.codigo}}>*</input>  
                  <br>            
                  <label class="asignatura">Asignatura</label>
                  <input type='text' name="asignatura" value={{group.asignatura}}>*</input>  
                  <br>            
                  <label class="semestre">Semestre</label>
                  <input type='text' name="semestre" value={{group.semestre}}>*</input>  
                  <br>              
                  <label class="profesor">Email del Profesor</label>
                  <input type='text' name="email" value="{{group.profesor.user.email}}"></input>  

                  <button class="guardar">Guardar</button>                    
                </form>
            </td>
            </tr>

        </table>
    </div>

    </div>
  </body>
</html>
