{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>LISTA DE GRUPOS</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_5.css' %}" >

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">
      <div class="encabezado">
        <div class="titulos">
          <h1>Ver Lista de Grupos (Administrador)</h1>
        </div>

        <div class="logo">
          <img src="{% static 'app/img/Logo.png' %}" >
        </div>
      </div>

      <div class="tabla">
        <table>
           
          <tr>
            <th>Id</th>
            <th>Código del grupo</th>
            <th>Asignatura</th>
            <th>Profesor</th>
            <th># de Estudiantes</th>
            <th></th>
            <th></th> 
            <th></th>
          </tr>
          
          {% for grupo in grupos %}
          <tr>
            <td>{{ grupo.id }}</td>
            <td>{{ grupo.codigo }}</td>
            <td>{{ grupo.asignatura }}</td>
            <td>{{ grupo.profesor.user.first_name }} {{ grupo.profesor.user.last_name }}</td>
            <td>{{ grupo.estudiantesgrupo.all|length }}</td>
            <td>
              <a href="{% url 'app:Vergrupoadmini' grupo.codigo %}" ><i class="fas fa-eye"></i></a>
            </td>
            <td>
              <a href="{% url 'app:form_Editargrupoadmi' grupo.codigo %}"><i class="fas fa-pen"></i></a>
            </td>
            <td>
              <a href="{% url 'app:eliminargrupo' grupo.id %}"><i class="fas fa-trash"></i></a>
            </td>

          </tr>
          {% endfor %}

        </table>
      </div>

      <div class="pie">
        <a href="{% url 'app:Vista_administrador' %}">
          <button class="btnVolver">Volver</button>
        </a>    
        
        <div class="Agregar_estudiante">
          <a href="{% url 'app:form_agregar_grupo' %}"><i class="fas fa-plus">Agregar Grupo</i></a>
          
        </div> 
      </div>

    </div>
  </body>
</html>
