{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>VER GRUPO</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_61.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="contenedor">
      <div class="encabezado">
        <div class="titulos">
            <h1>Eliminar Estudiante (ADMINISTRADOR)</h1>
        </div>
        <div class="logo">
          <img class="logo" src="{% static 'app/img/Logo.png' %}">
        </div>
      </div>

      <div class='campos'>

        <h3>Está seguro de que desea eliminar el estudiante "{{estudiante.estudiante.user.last_name}} {{estudiante.estudiante.user.first_name}}"?</h3>
        <div class="acciones">

          <a href="{% url 'app:eliminar_estudiante_post' estudiante.id %}">
            <button>SI</button>
          </a>
          
          <a href="{% url 'app:Ver_lista_Grupos_Admin' %}">
            <button>NO</button>
          </a>

          <br>
          {% if error %}
          <span class="error">{{error}}</span>
          {% endif %}  
        </div>
      </div>
    </div>
  </body>
</html>