{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>VER GRUPO</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_6.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
        <div class="contenedor">
            <div class="encabezado">
                <div class="titulos">
                    <h1>Ver Grupo (Administrador)</h1>
                </div>

                <div class="logo">
                  <img src="{% static 'app/img/Logo.png' %}" >
                </div>
            </div>

            <div class="info">
              <h3>Código del Grupo: {{ group.codigo }} </h3>
              <h3>Asignatura: {{ group.asignatura }}</h3>  </h3>
              <h3>Profesor: {{ group.profesor.user.first_name }} {{ group.profesor.user.last_name }} </h3>
            </div>

            <div class="tabla">
              <table>
                  <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Correo Electrónico</th>
                    <th></th>
                  </tr>
                  {% for estudiante in estudiantes %}
                  <tr>
                    <td>{{estudiante.estudiante.user.last_name}}</td>
                    <td>{{estudiante.estudiante.user.first_name}}</td>
                    <td>{{estudiante.estudiante.user.email}}</td>
                    <td>
                      <a href="{% url 'app:eliminarestudiante' estudiante.id %}"><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  
              </table>
            </div>

            <div class="footer">
              <a href="{% url 'app:Ver_lista_Grupos_Admin' %}">
                <button class="btnVolver">Volver</button>
              </a>
              <div class="Agregar_estudiante">
                <a href="{% url 'app:form_AgregarEstudiante' group.codigo %}"><i class="fas fa-plus">Agregar estudiante</i></a>
                
              </div>      
            </div>
        </div>
    </body>
</html>
