{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>AGREGAR ESTUDIANTE</title>
  </head>
  <head>
    
    <link rel="stylesheet" href="{% static 'app/css/estilo_8.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
        <div class="contenedor">
            <div class="encabezado">
                <div class="titulos">
                    <h1>Agregar estudiante (Administrador)</h1>
                </div>

                <div class="logo">
                <img src="{% static 'app/img/Logo.png' %}" />
                </div>
            </div>

            <div class="campos">
                <table> 
                    <tr>
                        <th>Agregar Estudiante</th>
                    </tr>

                    <tr>
                    <td>
                        <form action="{% url 'app:AgregarEstudiante' group.id %}" method="POST">  
                          
                          {% csrf_token %}         
                          <label class="Id_Estudiante">Código del estudiante</label>
                          <input type="number" name="codigo"></input>  
                          
                          <br>
                          <button class="agregar">Agregar</button>  
                          <br>
                          {% if error %}
                          <span class="error">{{error}}</span>
                          {% endif %}  
                        </form>
                    </td>
                    </tr>

                </table>
            </div>

        </div>
    </body>
</html>