{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>CREAR PROFESOR</title>
  </head>
  <head>
    <link rel="stylesheet" href="{% static 'app/css/estilo_9.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2? family = Rokkitt & display = swap"
      rel="hoja de estilo "
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="contenedor">

      <div class="encabezado">
        <div class="titulos">
          <h1>Agregar Profesor (Administrador)</h1>
        </div>

        <div class="logo">
          <img src="img/Logo.png" />
        </div>
      </div>
      
      <div class="campos">
          <table> 
            <tr>
              <th>Agregar Profesor</th>
            </tr>

            <tr>
              <td>
                <form action="{% url 'app:Crearprofesor' %}" method="POST">   
                  {% csrf_token %}

                  <label class="apellidos">Username  &nbsp</label>                  
                  <input type='text' name="username">*</input>  
                  <br> 
                  <label class="apellidos">Apellidos  &nbsp</label>                  
                  <input type='text' name="apellidos">*</input>  
                  <br>            
                  <label class="nombres">Nombres</label>
                  <input type='text' name="nombres" >*</input>  
                  <br>            
                  <label class="email">Correo Electrónico</label>
                  <input type='text' name="email">*</input>  
                  <br>              
                  <label class="catedra">Cátedra</label>
                  <br>
                  <input type='radio' name="catedra" value='True'>Si</input> 
                  <input type='radio' name="catedra" value='False'>No</input> 
                  <br>              
                  <label class="contraseña">Contraseña</label>
                  <input type="password" name="contraseña">*</input> 

                  <button class="crear">Crear</button>    
                  <br>

                  {% if error %}
                  <span class="error">{{error}}</span>
                  {% endif %}      
                </form>
              </td>
            </tr>

          </table>
      </div>

    </div>
  </body>
</html>