{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>INICIO DE SESIÓN</title>
    </head>
    
    <head>
        <!-- CSS E IMAGEN -->
        <link rel="stylesheet" href="{% static 'app/css/estilo_index.css' %}">
        <link rel="stylesheet" href="{% static 'app/img/Logo.png' %}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel = "hoja de estilo ">
        <!-- Iconos -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <!-- Fuente changa -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="contenedor">

            <div class="encabezado">

                <div class="titulo">
                    <h1>SISTEMA ACADÉMICO</h1>
                </div>

                <div class="logo">
                    <img class="logo" src="{% static 'app/img/Logo.png' %}">
                </div>
            </div>

            <div class="formulario">
                <form action = "{% url 'app:inicio_sesion' %}" method="POST">
                    {% csrf_token %}
                    <label>Usuario</label>
                    <input type="text" name = "username">
                    <label>Clave</label>
                    <input type="password" name = "password">
                    
                    <button class = "inicio">Iniciar Sesión</button>
                    
                    
                    {% if error %}
                    <div class = 'error'>{{ error }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </body>
</html>