{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>PERFIL PROFESOR</title>
</head>
<head>
    <link rel="stylesheet" href="{% static 'app/css/estilos_admi.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Oi&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!--Fuentes de ADMINISTRADOR cabecera de pag  -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel = "hoja de estilo ">
    <!-- Iconos -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Fuente changa -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Rokkitt&display=swap" rel="stylesheet">
</head>

<body>
    <div class="contenedor">

        <div class="encabezado">

            <div class="titulo">
                <h1>PROFESOR</h1>
            </div>

            <div class="logo">
                <img class="logo" src="{% static 'app/img/Logo.png' %}">
            </div>
        </div>

        <div class="perfil">
            <div class="foto">
                <i class="fas fa-user-circle"></i>
            </div>
            
            <div class="opciones">
                <h2>{{ profesor.first_name }} {{ profesor.last_name }}</h2>
                <br>
                
                <a href="{% url 'app:cerrar_sesion' %}" ><h2>Cerrar sesión</h2></a> 
            </div>
        </div>

        <div class="menu">
            <a href="{% url 'app:Ver_lista_grupos' %}" >Ver lista de grupos</a> 
        </div>

    </div>
</body>
</html>
