body {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 3fr 1fr / 1fr;
  grid-template-areas:
    "encabezado"
    "tabla"
    "pie";
  gap: 20px;
}

.encabezado {
  align-content: center;
  grid-area: encabezado;
  background-color: #603cf1;
  display: grid;
  grid-template: 0.5fr/ -10px auto;
  grid-template-areas: "titulo logo";
}

.titulos {
  grid-area: titulo;
  text-align: center;
  font-family: "Rokkitt", serif;
}

.logo {
  grid-area: logo;
  width: 700px;
  height: 105px;
  justify-self: right;
}

.tabla {
  grid-area: tabla;
  font-size: 20px;
  top: 150px;
  justify-items: center;
  margin-left: 100px;
  justify-self: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #000000;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

th {
  background-color: #603cf1;
  color: #fff;
  padding: auto;
  border: 1px solid black;
}

tr:nth-child(even) {
  background: #d8d8d8;
}

.pie{
  grid-area: pie;
  font-family: 'Changa', sans-serif;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: 
  "Crear_grupo btnVolver";
  justify-items:center;
  
  
}

.Crear_grupo {
  grid-area: Crear_grupo;
  font-family: 'Changa', sans-serif;
  display: grid;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 250px;
  margin-bottom: 15px;

}

.btnVolver {
  grid-area: btnVolver;
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  width: 80px;
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 15px;
}

a{
  color: #000000;
}

a:hover{
  color: #524e4e;
}