body {
    margin: 0px;
    padding: 0px;
    font-family: "changa";
  }
  
  .contenedor {
     width: 100vw;
     height: 100vh;
     display: grid;
     grid-template: 0.5fr 3fr / 1fr;
     grid-template-areas:
      "encabezado"
      "texto"
      "texto";
    gap: 20px;
    font-family: "changa";
  }
  
  .encabezado {
    align-content: center;
    grid-area: encabezado;
    background-color: #603cf1;
    display: grid;
    grid-template: 0.5fr/ -10px auto;
    grid-template-areas: "titulo logo";
  }
  
  .titulos {
    grid-area: titulo;
    text-align: center;
    font-family: "Rokkitt", serif;
  }
  
  .logo {
    grid-area: logo;
    width: 700px;
    height: 105px;
    justify-self: right;
    
  }
    
 .formulario{
   align-self: center;
   justify-self: center;
 }

 .formulario input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  align-items: center;
  font-family: "changa";
  margin-top: 50px;
  }

  
    label{
    font-size: 20px;
    margin-left: 30%;
    }

    input.boton2{
      margin-left: 20px;
      font-size: 20px;
      height: 40px;
    }

    input.boton{
      margin-left: 36%;
      font-size: 20px;
      height: 40px;
      margin-bottom: 25px;
    }

  table{
      justify-self: center;
      justify-content: center;
      width: 800px;
      border-collapse: collapse;
    }

    th{
      font-size: 20px;
    }