body {
    margin: 0px;
    padding: 0px;
  }
  
  .contenedor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 3fr 1fr / 1fr;
    grid-template-areas:
      "encabezado"
      "tabla"
      "pie";
    gap: 20px;
  }
  
  .encabezado {
    align-content: center;
    grid-area: encabezado;
    background-color: #603cf1;
    display: grid;
    grid-template: 0.5fr/ -10px auto;
    grid-template-areas: "titulo logo";
  }
  
  .titulos {
    grid-area: titulo;
    text-align: center;
    font-family: "Rokkitt", serif;
  }
  
  .logo {
    grid-area: logo;
    width: 700px;
    height: 105px;
    justify-self: right;
  }
  
  .tabla {
    grid-area: tabla;
    position: absolute;
    font-size: 20px;
    left: 220px;
    top: 250px;
    justify-items: center;
    align-items: center;
  }
  
  table {
    width: 150%;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid #000000;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  th {
    background-color: #603cf1;
    color: #fff;
    padding: auto;
    border: 1px solid black;
  }
  
  tr:nth-child(even) {
    background: #d8d8d8;
  }
  
  .pie{
    grid-area: pie;
    font-family: 'Changa', sans-serif;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: 
    "agregar_profesor btnVolver";
    justify-items: center;
  }
  
  .agregar_profesor {
    grid-area: agregar_profesor;
    font-family: 'Changa', sans-serif;
    display: grid;
    font-size: 20px;
  }
  
  .btnVolver {
    grid-area: btnVolver;
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    width: 80px;
  }
  
  a{
    color: #000000;
  }
  
  a:hover{
    color: #524e4e;
  }