body {
  margin: 0px;
  padding: 0px;
}
  
.contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 3fr 0.5fr / 1fr;
  grid-template-areas:
    "encabezado" 
    "tabla"
    "pie";
  gap: 20px;
}

.encabezado {
  align-content: center;
  grid-area: encabezado;
  background-color: #603cf1;
  display: grid;
  grid-template: 0.5fr/ -10px auto;
  grid-template-areas: "titulo logo";
}

.titulos {
  grid-area: titulo;
  text-align: center;
  font-family: "Rokkitt", serif;
}

.logo {
  grid-area: logo;
  width: 750px;
  height: 105px;
  justify-self: right;
}

.tabla {
  grid-area: tabla;
  position: center;
  font-size: 20px;
  justify-self: baseline;
  align-items: center;
  margin-top: 100px;
  margin-left: 225px;
}

table {
  width: 150%;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
th {
  border: 1px solid black;
  background-color: #603cf1;
  color: #fff;
  padding: auto;
}


tr:nth-child(even) {
  background: #d8d8d8;
}

.pie {
  grid-area: pie;

  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  align-items: center;
  grid-template-areas: "btncreargrupo btnvolver";
}

a{
  color: #000000;
}

a:hover{
  color: #524e4e;
}
.btnVolver {
  grid-area: btnvolver;
  width: 680px;
  height: 100px;
  justify-self: end;
  margin-right: 100px;
  margin-bottom: 30px;
  cursor: pointer;
}
input {
  width: 150px;
  height: 80px;
  font-size: 20px;
}  