body {
    margin: 0px;
    padding: 0px;
  }
  
  .contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 3fr 0.5fr / 1fr;
  grid-template-areas:
    "encabezado"
    "campos";
  gap: 20px;
  }
  
  .encabezado {
  align-content: center;
  grid-area: encabezado;
  background-color: #603cf1;
  display: grid;
  grid-template: 0.5fr/ -10px auto;
  grid-template-areas: "titulo logo";
  }
  
  .titulos {
  grid-area: titulo;
  text-align: center;
  font-family: "Rokkitt", serif;
  }
  
  .logo {
  grid-area: logo;
  width: 700px;
  height: 105px;
  justify-self: right;
  }
  
  .campos{
    grid-area: campos;
    display: grid;
    font-family: 'Changa', sans-serif;
    align-self: center;
    align-items: center;
    font-size: 30px;
  }
  
  table{
    font-family: 'Changa', sans-serif;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    width: 800px;
    border-collapse: collapse;
    font-size: 25px;
  }
  
  input required{
    content: "*";
  }

  th,td{
    border: 1px solid #000000;
  }
  
  form {
    margin-top: 30px;
    margin-left: 150px;
    justify-self: center;
    width: 430px;
  }
  
  form label {
    display: inline-block;
    content: "*";
    text-align: center;
    font-size: 20px;
    width: 250px;
    height: 30px;
  }
  
  form input {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 35px;
  }
  
  input *{
    color: red;
  }

  form .volver{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    width: 80px;
    justify-items: center;
    margin-bottom: 20px;
    height: auto;
    margin-top: 30px;
  }
  
  form .guardar{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    width: 80px;
    justify-items: center;
    margin-left: 250px; 
  }