body {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 0.5fr 0.1fr 3fr 1fr / 1fr;
  grid-template-areas:
  "encabezado"
  "ID"
  "info"
  "tabla"
  "footer";
  gap: 20px;
}

.encabezado{
  align-content: center;
  grid-area: encabezado;
  background-color: #603cf1;
  display: grid;
  grid-template: 0.5fr/ -10px auto;
  grid-template-areas: "titulo logo";
}

.titulos{
  grid-area: titulo;
  text-align: center;
  font-family: "Rokkitt", serif;
}

.logo{
  grid-area: logo;
  width: 700px;
  height: 105px;
  justify-self: right;
}

.ID{
  grid-area: ID;
  font-family: 'Changa', sans-serif;
  justify-self: center;
}

.info{
  grid-area: tabla;
  position:absolute;
  grid-template: auto;
  margin-left: 490px;
  font-size: 20px;
  justify-items: center;
  justify-self:  flex-start;
  display: grid;
  margin-top: 270px;
}

.tabla{
  grid-area: tabla;
  position: absolute;
  font-size: 20px;
  justify-self: center;
  align-items: center;  
  margin-top: 350px;
  margin-left: 470px;
}

table{
  width: 110%;
  border-collapse: collapse;
}

td{
  border: 1px solid #000000;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

th{
  border: 1px solid #000000;
  background-color: #603cf1;
  color: #fff;
  padding: auto;
}

tr:nth-child(even){
  background: #d8d8d8;      
}

.footer{
  grid-area: footer;
  font-family: 'Changa', sans-serif;
  display: grid;
  grid-template: center;
  justify-items: center;
}

.btnVolver {
  grid-area: btnVolver;
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  width: 80px;
}

a{
  color: #000000;
}

a:hover{
  color: #524e4e;
}