body{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template:  0.5fr 1fr 0.5fr / 1fr;
    grid-template-areas:
    "encabezado"
    "perfil"
    "menu";
}

.encabezado{
    grid-area: encabezado;
	background-color: #603CF1;
    display: grid;
    grid-template: 0.5fr/ 1fr 1fr;
    grid-template-areas: 
    "titulo logo";
    align-content: center;
    justify-content: center;
}

.titulo{
    grid-area: titulo;
    font-family: 'Rokkitt', serif;
    align-self: center;
    margin-left: 200px;
}

.logo{
    grid-area: logo;
    width: 700px;
    height: 105px;
    justify-self: right;
}

.perfil{
    grid-area: perfil;
    display: grid;
    grid-template: 1fr/ 0.5fr 1fr;
    grid-template-areas: 
    "foto opciones";
    gap:20px;
    margin-top: 30px;
}

.foto{
    grid-area: foto;
    font-size: 150px;
    right: 100px;
    justify-self: right;
}

.opciones{
    grid-area: opciones;
    justify-self: left;
    color: #000000;
    font-size: 20px;
}
.opciones a{
    color: black;
}
.menu{
    grid-area: menu;
    color: #0645AD;
    font-family: 'Changa', sans-serif;
    font-size: 36px;
    display: grid;
}

a{
    text-decoration: none;
    justify-items: center;
    align-items: center;
    justify-self: center;
}

a:hover{
    text-decoration:underline;
}