body{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template:  0.5fr 2fr 0.5  / 1fr;
    grid-template-areas:
    "encabezado"
    "formulario"
    "opciones";
}

.encabezado{
    grid-area: encabezado;
	background-color: #603CF1;
    display: grid;
    grid-template: 0.5fr/ 1fr 1fr;
    grid-template-areas: 
    "titulo logo";
    align-content: center;
    justify-content: center;
}

.titulo{
    grid-area: titulo;
    font-family: 'Rokkitt', serif;
    align-self: center;
    margin-left: 200px;
}

.logo{
    grid-area: logo;
    width: 700px;
    height: 105px;
    justify-self: right;
}

.formulario{
    grid-area: formulario;
    font-family: 'Changa', sans-serif;
    margin-top: 100px;
    margin-left: 350px;
    width: 430px;
}

form label {
    display: inline-block;
    text-align: right;
    font-size: 40px;
    width: 250px;
    height: 60px;
}

form input {
    font-family: 'Changa', sans-serif;
    display:inline-block;
    text-align: left;
    width: 168px;
    height: 40px;
    font-size: 15px ;
}

form .inicio{
    font-family: 'Changa', sans-serif;
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 195px;
    font-size: 20px;
}
.opciones {
    grid-area: opciones;
    justify-self: center;
}

.opciones button{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    width: auto;
    height: auto;
}
