body{
  margin: 0px;
  padding: 0px;
}

.contenedor{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 3fr 1fr / 1fr;
  grid-template-areas:
      "encabezado"
      "campos"
      "pie";
  gap: 20px;
}

.encabezado{
  grid-area: encabezado;
background-color: #603CF1;
  display: grid;
  grid-template: 0.5fr/ 1fr 1fr;
  grid-template-areas: 
  "titulo logo";
  align-content: center;
  justify-content: center;
}

.titulo{
  grid-area: titulo;
  font-family: 'Rokkitt', serif;
  align-self: center;
  margin-left: 200px;
}

.logo{
  grid-area: logo;
  width: 700px;
  height: 105px;
  justify-self: right;
}

.campos{
  font-family: 'Rokkitt', serif;
  align-self: center;
  justify-self:center;
}