body {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 3fr 0.5fr / 1fr;
  grid-template-areas:
    "encabezado"
    "tabla"
    "btnVolver";
  gap: 20px;
  font-family: "changa";
}

.encabezado {
  align-content: center;
  grid-area: encabezado;
  background-color: #603cf1;
  display: grid;
  grid-template: 0.5fr/ -10px auto;
  grid-template-areas: "titulo logo";
}

.titulos {
  grid-area: titulo;
  text-align: center;
  font-family: "Rokkitt", serif;
}

.logo {
  grid-area: logo;
  width: 700px;
  height: 105px;
  justify-self: right;
}

.tabla {
  grid-area: tabla;
  width: 25%;
  left: 290px;
  top: 250px;
  justify-items: center;
  align-items: center;
  margin-left: 30%;
  
}

table {
  width: 150%;
  border-collapse: collapse;
  
}

td {
  border: 1px solid #000000;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: "changa";
}

th {
  background-color: #603cf1;
  color: #fff;
  padding: auto;
  border: 1px solid black;
  font-family: "changa";
}

tr:nth-child(even) {
  background: #d8d8d8;
}

.btnVolver {
  grid-area: btnVolver;
  font-family: 'Changa', sans-serif;
  width: 100px;
  height: 250px;
  margin-left: 46%;
  }

a{
  color: black;
}

a:hover{
  color: #603cf1;
}

button{
  font-size: 20px;
  font-family: "changa";  
}


