body {
    margin: 0px;
    padding: 0px;
  }
  
.contenedor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 0.5fr 0.1fr 3fr 1fr / 1fr;
  grid-template-areas:
    "encabezado"
    "ID"
    "info"
    "tabla"
    "footer";
  gap: 20px;
}

.encabezado{
  align-content: center;
  grid-area: encabezado;
  background-color: #603cf1;
  display: grid;
  grid-template: 0.5fr/ -10px auto;
  grid-template-areas: "titulo logo";
}

.titulos{
  grid-area: titulo;
  text-align: center;
  font-family: "Rokkitt", serif;
}

.logo{
  grid-area: logo;
  width: 700px;
  height: 105px;
  justify-self: right;
}

.ID{
  grid-area: ID;
  font-family: 'Changa', sans-serif;
  justify-self: center;
}

.info{
  grid-area: info;
  font-family: 'Changa', sans-serif;
  margin-left: 40px;
  font-size: 20px;
  justify-items: center;
  display: grid;
  grid-area: 1fr  1fr/ 1fr 1fr 1fr;
  grid-template-areas: 
  "h3 h3 h3";
}

.tabla{
  grid-area: tabla;
  position: center;
  
  top: 350px;
  justify-items: center;
  align-items: center;
  margin-left: 90px;
  font-size: 20px;
}

table{
  width: 90%;
  border-collapse: collapse;
}

td{
  border: 1px solid #000000;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

th{
  background-color: #603cf1;
  color: #fff;
  padding: auto;
}

tr:nth-child(even){
  background: #d8d8d8;
}

.footer{
  grid-area: footer;
  font-family: 'Changa', sans-serif;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: 
  "Agregar_estudiante btnVolver";
  justify-items: center;
}

.Agregar_estudiante{
  grid-area: Agregar_estudiante;
  font-family: 'Changa', sans-serif;
  display: grid;
  font-size: 20px;
}

.btnVolver {
  grid-area: btnVolver;
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  width: 80px;
}

a{
  color: #000000;
}

a:hover{
  color: #524e4e;
}